
.vs/UnivApp/config/applicationhost.config
.vs/UnivApp/v16/Server/sqlite3/db.lock
.vs/UnivApp/v16/Server/sqlite3/storage.ide
.vs/UnivApp/v16/Server/sqlite3/storage.ide-shm
.vs/UnivApp/v16/Server/sqlite3/storage.ide-wal
