<br/>
@using (Html.BeginForm("Index", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Get))
{
    <div class="topnav col-md-6" style="margin-left: -13px;">
        <div class="search-container">
            <form action="/action_page.php">
                <input style="font-style: italic" type="text" placeholder="search..." name="searchString" value=@(ViewBag.CurrentFilter as string)>
                @*textbox'take name= searchString --> actionlink'teki parametre ismiyle örtüşmeli. aynı isimle olunca veri düşüyor.*@
                @*value de search edilen değerin geldiği datayı tutuyor.*@
                <button type="submit" value="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="col-md-6" style="padding-top: 13px; padding-left: 3px;">
            @Html.ActionLink("Create New", "Create", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
        </div>
    </div>
}
<br />
<br />
<br />
<br />