body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*h2{
    color:red;
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*Sonradan Eklenenler*/

.jumbotron {
    background-color: #75aa0a;
}

.lead {
    color: white;
}

.jumbotron h1 {
    color: white;
}

.btn-yellowgreen {
    background-color: #75aa0a;
    color: white;
    border-color: gray;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: white;
}

    .btn-primary:hover {
        background-color: #e8e8e8;
        border-color: gray;
        color: black;
    }

.activeLink {
    color: red;
    font-weight: bold;
}


/*Seksi search butonu*/


.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: left;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #f8f8f8;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

    .topnav .search-container button:hover {
        background: #ccc;
    }

    .topnav .search-container button:hover {
        background: #ccc;
        color: black;
        /*Seksi search butonu bitiş*/
        .form-control

{
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 4px !important;
}

.btn {
    border-radius: 4px !important;
}


table, tr, th {
    padding: 10px !important;
}

table, tbody, tr, td {
    padding: 10px !important;
}

/*Green create edit buttons başla*/

.btn-group .button {
    background-color: yellowgreen; /* Green */
    border: 1px solid yellowgreen;
    color: white;
    padding: 2px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

    .btn-group .button:not(:last-child) {
        border-right: none;
    }

    .btn-group .button:hover {
        background-color: #3e8e41;
    }

/*Green create edit buttons bitiş*/

